<div class="c-bigCard">
    <div class="c-bigCard-img">
        <img class="c-bigCard-img" src="{{ assetPath('images/5.png') }}">
    </div>
    <div class="c-bigCard-text">
        <p class="o-author-bigCard"> Kelsi Monahan </p>
        <h4 class="o-title-bigCard"> Qui occaecati vero et quibusdam non </h4>
        <p class="o-description-bigCard"> Saepe quia culpa vero. Velit numquam corporis 
        nihil sint enim exercitationem. Rem nulla illum 
        sint et id dolore voluptas 
        </p>
    </div>
</div>