<div class="c-card">
    <div class="c-card-img">
        <img class="c-card-img" src="{{ assetPath('images/4.png') }}">
    </div>
    <div class="c-card-text">
        <p class="o-author-card"> Kelsi Monahan </p>
        <h4 class="o-title-card"> Qui occaecati vero et quibusdam non </h4>
        <p class="o-description-card"> Saepe quia culpa vero. Velit numquam corporis 
        nihil sint enim exercitationem. Rem nulla illum 
        sint et id dolore voluptas 
        </p>
    </div>
</div>